.edit_profile_page {
    background-color: #ffffff;
    padding: 10px;
}

.all_content {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.main_heading {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(7, 7, 7);
}

.main_content {
    margin-top: 20px;
}

.step_selected {
    background-color: #ffffff;
    color: #767BFE;
    border-left: 8px solid #767BFE;
    height: 40px;
    cursor: pointer;
}

.step_not_selected {
    color:  #A3A2A2;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.step_heading {
    text-align: center;
    padding-top: 5px;
    font-weight: 700;
    padding-left: 10px;
}

.step_content {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 0px 10px 10px 10px;
}

.step_content_heading {
    
    font-size: 1.2rem;   
    margin-left: 28px;
    font-weight: 600;
    color: #333333;
}

.BasicInfo_img {
    margin-left: 18px;    
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.BasicInfo_cameraIcon {
    position: absolute;
    color: #29AB87;
    left: 150px;
    bottom: 10px;
    background-color: white;
    margin-top: -15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    padding-top: 5.5px;
    transition: transform 0.2s;
}

.input_container {
    margin-top: 20px;
}

.step_content_side_section {
    height: 100%;
}

.enter_details_heading {
    font-size: 0.8rem;
    color: #8F8F8F;
    font-weight: 500;
}

.step_content_section_button {
    border-radius: 10px;
    box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.07);
    float: right;
    width: 40px;
    height: 40px;
    margin-right: 12.5px;
    text-align: center;
    cursor: pointer;
}

.step_content_section_button_text {
    margin-left: 5px;
    margin-top: 5px;
    width: 30px;
    height: 30px;
    color: #29AB87;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 50%;
    border: 3px solid #29AB87;
}

.step_content_main {
    padding: 10px;
    border-left: 1px solid rgb(10, 10, 10);
}

.image_grid {
    position: relative;
    padding-right: 10px;
}

.input_image {
    width: 100%;
    height: 180px;
    border-radius: 7.5px;
}

.camera_icon {
    position: absolute;
    color: #29AB87;
    right: -10px;
    background-color: white;
    margin-top: -15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    padding-top: 5.5px;
    transition: transform 0.2s;
}

.camera_icon:hover {
    transform: scale(1.2);
}

.name_label {
    color: #8F8F8F;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 10px;
    font-family: Poppins;
}

.BasicInfo_nameInput {
    border-radius: 10px;
    outline: none;
    border: 1px solid #DFDFDF;
    height: 50px;
    padding-left: 15px;
    width: 100%;
    // font-size: 25px;
    margin-top: 10px;
    padding: 10px;
    margin-left: 10px;
}

.name_input {
    border-radius: 10px;
    outline: none;
    border: 1px solid #DFDFDF;
    height: 50px;
    padding-left: 15px;
    width: 90%;
    margin-top: 10px;
}

.date_label {
    color: #8f8f8f;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 30px;
}

.description_input {
    border-radius: 10px;
    outline: none;
    border: 1px solid #DFDFDF;
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
    padding: 15px;
}

.word_length {
    color: rgb(0, 0, 0);
    text-align: right;
    margin-top: -35px;
    position: absolute;
    right: 15px;
}

.presently_working {
    margin-top: 10px;
    cursor: pointer;
}

.presently_working_icon {
    color: #29AB87;
    margin-left: 20px;
}

.previous_button {
    color: #29AB87;
    border: 1px solid #29AB87;
    border-radius: 20px;
    text-align: center;
    height: 50px;
    padding-top: 8px;
    font-weight: bold;
    font-size: 1.1rem;
    max-width: 250px;
    margin-left: 5px;
    cursor: pointer;
}

.add_newProfile_button_text {
    background-color: #29AB87;
    color: white;
    border-radius: 6px;
    text-align: center;
    height: 26px;
    padding: 10;
    font-weight: normal;
    font-size: 1rem;
    max-width: 316px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    cursor: pointer;
}

.save_and_next_button {
    background: #29AB87;
    font-family: Poppins;
    color: white;
    border-radius: 20px;
    text-align: center;
    height: 50px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 1.1rem;
    max-width: 250px;
    margin-left: 5px;
    cursor: pointer;
}

.socialMedia_LinkInput {
    border-radius: 10px;
    outline: none;
    border: 1px solid #29AB87;
    height: 50px;
    padding-left: 15px;
    width: 80%;
    margin-top: 10px;
    padding: 10px;
    margin-left: 10px;
}

.link_input {
    border-radius: 10px;
    outline: none;
    border: 1px solid #DFDFDF;
    height: 50px;
    padding-left: 15px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.SocialMedia_container {
    margin-bottom: 10px;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
}

.skill_container {
    margin-bottom: 10px;
    padding-left: 25px;
    padding-top: 20px;
    border-radius: 15px;
    box-shadow:  0px 3px 8px 1px rgba(0, 0, 0, 0.07);
}

.add_skills_button {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(12, 12, 12);
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 1.5px;
    cursor: pointer;
}

.add_skills_button_text {
    margin-left: 12px;
    margin-top: 12px;
    width: 25px;
    height: 25px;
    color: #050505;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 50%;
    border: 3px solid #29AB87;
}

.skill_input {
    max-width: 100%;
    border: 1px solid #29AB87;
    border-radius: 12.5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: rgb(163, 163, 163);
}

.skill_input:focus {
    outline: none;
    border: 2px solid #29AB87;
}

.skill_name {
    font-size: 1.5rem;
    color: rgb(29, 29, 29);
    margin-bottom: -5px;
}

.terms_and_conditions {
    color: rgb(8, 8, 8);
    cursor: pointer;
    text-decoration: underline;
}

.club_card {
    margin-bottom: 15px;
    margin-left: 10px;
    padding: 10px;
    padding-left: 30px;
    box-shadow: 1px 1px 10px rgb(206, 206, 206);
    border-radius: 15px;
}

.club_image {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.club_name {
    font-size: 1.1rem;
}

.join_club {
    padding-top: 5px;
    text-align: right;
    padding-right: 30px;
    color: #767BFE;
    cursor: pointer;
}

.join_icon {
    color: #29AB87;
    margin-left: 20px;
}


.step_content_heading{
    text-align: center;
    font-size:2rem;
    font-weight:500;
    text-decoration:bold;
}
.name_label {
    text-align:left;
}
.enter_details_heading {
    font-size:1.1rem;
}
.presently_working {
    color:black;
    font-weight:200;
    text-decoration: underline;
}
.input_container {
    font-size:1.1rem;
}
.input_image {
    border-radius:50%;
}